<ion-view title="My Music" id="page1">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <ion-list>
            <ion-item>Playlists</ion-item>
            <ion-item ui-sref="menu.songs">Songs</ion-item>
            <ion-item>Albums</ion-item>
            <ion-item>Atists</ion-item>
        </ion-list>
        <h5 id="myMusic-heading2" style="color:#000000; margin-left:2%;">RECENTLY PLAYED</h5>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Madness (Deluxe Edition)</h2>
                <p style="white-space:normal;">Album • by Sleeping With Sirens</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Bing Me The Horizon</h2>
                <p>Artist</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
