<ion-view title="Songs" id="page6">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Filter">
            </label>
        </form>
        <button id="songs-button4" style="border-radius:50px 50px 50px 50px;" class="button button-balanced button-small button-block icon ion-ios-play">SHUFFLE PLAY</button>
        <form class="list">
            <ion-toggle toggle-class="toggle-balanced">Available Offline</ion-toggle>
        </form>
        <ion-list ng-repeat="song in songs">
            <ion-item ng-click="playSong(song.id)">{{song.title}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
