<ion-view title="Player" id="page8">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="button-bar"></div>
        <div>
            <dl style="text-align:center; margin-top:10px;">
                <dt>{{song.title}} - Deluxe Edition</dt>
                <dd>Ed Sheeran</dd>
            </dl>
        </div>
        <form class="list">
            <ion-item class="range range-positive">
                <input type="range" value="0" min="0" max="100">
            </ion-item>
        </form>
        <div class="button-bar">
            <button id="player-button8" class="button button-dark  button-block button-clear icon ion-ios-skipbackward"></button>
            <button ng-click="play($event)" id="player-button9" class="button button-dark  button-block icon ion-ios-play"></button>
            <button id="player-button10" class="button button-dark  button-block button-clear icon ion-ios-skipforward"></button>
        </div>
    </ion-content>
</ion-view>
