<ion-view title="search" id="page7">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Searh">
            </label>
        </form>
        <ion-list>
            <ion-item>Last song searched</ion-item>
            <ion-item>Almost last song searched</ion-item>
            <ion-item>First one searched at history</ion-item>
        </ion-list>
    </ion-content>
</ion-view>